.page-holder.d-flex.align-items-center
  .container.py-5
    .row.align-items-center
      .col-5.col-lg-7.mx-auto.mb-5.mb-lg-0
        .pr-lg-5
          %img.img-fluid{:alt => "", :src => image_path("illustration.svg")}/
      .col-lg-5.px-lg-4
        %h2.mb-4 Welcome back 🎉
        %p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "mt-4"}) do |f|
          = devise_error_messages!
          .form-group.mb-4
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Enter email", class: "form-control border-0 shadow form-control-lg"
          .form-group.mb-4
            = f.password_field :password, autocomplete: "current-password", placeholder:"Your password", class: "form-control border-0 shadow form-control-lg text-violet"
          - if devise_mapping.rememberable?
            .form-group.mb-4
              .custom-control.custom-checkbox
                = f.check_box :remember_me, class: "form-check-input"
                = f.label :remember_me, class: "form-check-label"
          = f.submit "Log in", class: "btn btn-primary shadow px-5 mb-4"

        .row
          .col-12
            = render "devise/shared/links"
